@{
    ViewData["Title"] = "Drawing";
}

<div class="container-fluid bord">
    <div class="container loginRegSection">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</div>

