@{
    ViewData["Title"] = "Review";
}

<div class="container-fluid bord">
    <div class="container loginRegSection">
        <h2>@ViewData["Title"].</h2>
        <h3>@ViewData["Message"]</h3>
        <div class="row">
            <div class="col-md-5 submissionPg">
                <h2>Laura Jones - 7/7/2017</h2>
                <hr />
                <p><strong>Email:</strong><br /> laura.smith@gmail.com</p>
                <p><strong>Department:</strong><br /> Production</p>
                <p><strong>Location:</strong><br /> San Clemente, CA</p>
                <p><strong>Why they're a hustler:</strong><br /> Being their best</p>
                <hr />
                <p><strong>Nominated By:</strong><br /> Tom Smith</p>
                <p><strong>Reason for nomination:</strong><br /> Sarah has been putting in a lot of extra hours working on a project.</p>
                <button>Accept</button><button>Deny</button>
            </div>
            <div class="col-md-5 submissionPg">
                <h2>Bob Phillip - 7/19/2017</h2>
                <hr />
                <p><strong>Email:</strong><br /> bob.phillip@gmail.com</p>
                <p><strong>Department:</strong><br /> Purchasing</p>
                <p><strong>Location:</strong><br /> Draper, UT</p>
                <p><strong>Why they're a hustler:</strong><br /> Being their best</p>
                <hr />
                <p><strong>Nominated By:</strong><br /> John Doe</p>
                <p><strong>Reason for nomination:</strong><br /> Bob has been putting in a lot of extra hours working on a project.</p>
                <button>Accept</button><button>Deny</button>
            </div>
        </div>
    </div>
</div>